.Title{
    
}

.hh1{
    text-align: center;
    width: 100%;
    font-size: 8em;
    margin-top: 40px;
    @media (max-width: 1800px) {
        font-size: 6em; // добавляем отступ снизу для мобильных экранов
      }
      @media screen and (max-width: 600px) {
        font-size: 2em; // добавляем отступ снизу для мобильных экранов
      } 
}

.ConteinerTl{
    margin-left: 120px;
}

.bat{
    border: 2px solid darkblue;
    border-radius: 5px;
    background-color: transparent;
    width: 100px;
    height: 50px;
    margin-bottom: 40px;
    margin-top: 10px;
    color: darkblue
}

.bat:hover{
    cursor: pointer;
    background-color: darkblue;
    color:white
}